/chemdraw_tools/chemdraw_converter/Attribute to property mapping.txt
/chemdraw_tools/chemdraw_converter/CDXConstants.h
/chemdraw_tools/chemdraw_converter/vbindiff command.txt
/build
/dist

/Creation of combined repository.txt
